<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Url Shortener
            </a>
        </div>

        <% if (username === "") { %>
          <span class="log-in">
            <form method="POST" action="/login">
              <input name="username"></textarea>
              <button type="summit">login</button>
            </form>
          </span>
        <% } else { %>
          <span class="logged-in">
            <p><%= username %> logged in</p>
            <form method="POST" action="/logout">
              <button type="summit">logout</button>
            </form>
          </span>
        <% }; %>


        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/urls">Edit existing urls</a></li>
            <li><a href="/urls/new">Creat a new url</a></li>
            <li>To get redirected: type "u/your_shortURL" in the address bar</li>
        </ul>

    </div>
</nav>
