<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Url Shortener
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/urls">Edit existing urls</a></li>
            <li><a href="/urls/new">Creat a new url</a></li>
            <li>To get redirected: type "u/your_shortURL" in the address bar</li>
        </ul>

    </div>
</nav>
